[flake8]
exclude = .svn,CVS,.bzr,.hg,.git,__pycache__,tests/*,rplugin/python3/deoplete/jedi
filename = *.py
ignore =
    # E226: missing whitespace around arithmetic operator
    E226,
    # E305: expected 2 blank lines after class or function definition, found 0
    E305,
    # E402: module level import not at top of file
    E402,
    # H301: one import per line
    H301,
    # H304: No relative imports
    H304,
    # H306: imports not in alphabetical order - conflicts with isort ordering
    H306
max-line-length = 99
max-complexity = 20
